/wordpress/wp-content/languages
/wordpress/wp-content/plugins
/wordpress/wp-content/upgrade
/wordpress/wp-content/uploads
/wordpress/wp-content/node_modules
/wordpress/wp-admin
/wordpress/wp-includes

reactpress/apps/5w5/node_modules/
node_modules/
/node_modules/
**/node_modules
*.DS_Store
/reactpress/apps/5w5/node_modules
*.pack
reactpress/apps/5w5/node_modules/.cache/default-development/