.EnTete {
    position: fixed;
    top: 0;
    left: 0;

    background-color: white;

    .contenu {
        display: flex;
        flex-direction: column;
    }

    // États
    .ouvert {
        display: flex;
    }

    .ferme {
        display: none;
    }
}