@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.EnTete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .contenu {
        @include themer($theme-menu);

        display: flex;
        flex-direction: column;
        @include gerer-ouverture(flex);

        width: 90vw;
        height: 65vh;
        box-sizing: border-box;
        padding: 10vw;

        border-radius: 0 70px 70px 0;
    }
}