@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.EnTete {
    @include fond-flou;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .contenu {
        @include themer($theme-menu-mobile);

        @include gerer-ouverture(flex);

        width: 90vw;
        height: map-get($hauteur-header, mobile);
        box-sizing: border-box;
        padding: 10vw;

        border-radius: 0 70px 70px 0;

        .SiteLogo {
            display: none;
        }
    }

    .resultats-recherche {
        @include themer($theme-menu-mobile);
    }

    @include tablette {
        .BoutonBurger {
            display: none;
        }

        .contenu {
            @include themer($theme-menu-tablette);
            width: 100vw;
            height: map-get($hauteur-header, tablette);
            border-radius: 0;
            padding: 0;
            justify-content: space-between;
            align-items: center;

            &.ferme {
                display: flex;
            }

            .SiteLogo {
                display: block;
            }
        }
    }
}