@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.Navigation {
    display: flex;
    flex-direction: column;

    // Animation de l'ouverture de la recherhce
    @include transition-base;
    opacity: 1;
    @include pleine-taille;
    max-height: 500px; // Pour la transition

    .titre-page {
        display: block;
        width: min-content;
        white-space: nowrap;
        
        @include hover-bordures-cotes;
    }

    @include tablette {
        flex: 0 1 80%;
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        height: unset;
        max-height: unset;
    }
}