@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.Navigation {
    display: flex;
    flex-direction: column;

    // Animation de l'ouverture de la recherhce
    transform-origin: left;
    // @include transition-base;
    transition-property: transform, width, flex, opacity, justify-content, gap;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s, .5s, .5s;
    transform: scale(1);
    opacity: 1;
    @include pleine-taille;
    max-height: 500px; // Pour la transition

    .titre-page {
        display: block;
        width: min-content;
        white-space: nowrap;
        
        @include hover-bordures-cotes;
    }

    @include tablette {
        flex: 1 0 50%;
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        height: unset;
        max-height: unset;
    }
}