@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';
//FOOTER
.PiedPage {
    width: 100%;
    display: none;
    background-color: transparent;
    flex-direction: column;
    position: relative;

    .vague {
        position: absolute;
        bottom: 100%;
        width: 100%;
    }

    .contenu {
        width: 100%;
        @include themer($theme-PiedDePage);
        // Ajouter les styles des éléments du footer ici
        display: flex;
        flex-direction: row;
        justify-content: space-around center;
        gap: 3%; 
        margin-right: 10%;
    }
    
    .nous-joindre{
        display: flex;
        flex-direction: column;
        h6{
            size: 20px;
        }
    }


    .inscription{
        display: flex;
        flex-direction: column;
        
    

        .nous-joindre{
            display: flex;
            flex-direction: column;
        }
    
        .inscription{
            display: flex;
            flex-direction: column;

            a{
              text-decoration: underline;  
            }
            
        }

        & > * {
            flex: 1 1 25%;
            
        }
    }

    @include ordinateur {
        display: flex;


    }
}



