@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';
@import '../../sass/fonctions.scss';

.PiedPage {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-size: 15px;

    .vague {
        width: 110%;
        height: unset;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;

        svg {
            @include pleine-taille;

            path {
                stroke-width: 10px;
                fill: map-get($couleurs, sombre);
            }
        }
    }

    .cacheur {
        width: 100%;
        height: 1px;
        transform-origin: center bottom;
        transform: scaleY(20);
        background-color: map-get($couleurs, sombre);
    }

    .contenu {
        width: 100%;
        @include themer($theme-pied-page);
        display: flex;
        flex-direction: column;
        
        .rangee {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0 10%;
            padding-bottom: 2%;
            gap: 5%;
            box-sizing: border-box;

            &.trademark {
                align-self: center;
            }

            & > * {
                display: flex;
                flex-direction: column;
            }
    
            // Toutes les sections de texte
            & > * {
                flex: 1 0 20%;
            }
    
            & > .logo {
                align-self: center;
                .logo {
                    width: 100%;
                    max-width: 10vw;
                }
            }
    
            .inscription-conteneur {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: min-content;
                gap: 5%;
            }
    
            .social{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 10%;
    
                svg{
                    transform: scale(1);
                }
    
            }
        }
    }

    @include ordinateur {
        display: flex;
    }
}



