@import 'sass/mixins.scss';
@import 'sass/variables.scss';

.App {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;

    @include ordinateur {
        height: unset;
    }
}
