@import 'sass/mixins.scss';
@import 'sass/variables.scss';
@import 'sass/animations.scss';

.App {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;

    @include ordinateur {
        height: unset;
        min-height: 100vh;
    }

    & > * {
        animation: fondu-entrant ease-in-out .5s;
    }

    // Liste d'item fermée
    & *[class^="list"][item-ouvert="false"] {
        // Animer le passage de retour vers la page initiale
        animation: fondu-entrant ease-in-out .5s;
    }

    // Item ouvert, exclure les cours puisqu'ils ne sont pas vraiment 'ouverts'
    & *[ouvert="true"]:not(.Cours) {
        animation: fondu-entrant ease-in-out .5s;
    }
}
