@import 'sass/mixins.scss';
@import 'sass/variables.scss';

.App {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;

    @include ordinateur {
        height: unset;
    }

    // Toutes les pages
    & > *:not(.EnTete, .PiedPage) {
        @include pleine-taille;

        // Premier élément de chaque page
        & > *:first-child {
            
            // Laisser un espacement pour l'entête
            margin-top: 10vh;
        }

        @include tablette {
            margin-top: map-get($hauteur-header, tablette);
        }

        @include ordinateur {
            height: unset;
        }
    }
}
