@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/fonctions.scss';

//Importation des variables, mixins et fonctions pour après mettre les elements dans un ordre et style defini sans le font d'écran de base
.Contact {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    @include pleine-taille;
    box-sizing: border-box;
    @include page;

    > * {
        padding: 0 10%;
    }

    .boite-principale{
        display: flex;
        flex-direction: column;
        gap: 2.5%;

        @include ordinateur {
            gap: 0;
        }

        > * > *,
        > * > * * {
            border-radius: 30px;
        }

        .contenu{
            display: flex;
            flex-direction: column;
            gap: 5vh;
            flex: 0 1 40%;

            @include tablette{
                flex-direction: column;
                align-items: flex-start;
            }

            @include ordinateur {
                flex-direction: row;
                align-items: center;
            }

            .video-conteneur {
                flex: 1 1 30%;
                min-width: 50%;
                max-width: 100%;
                height: 100%;
                overflow: hidden;

                display: flex;
                justify-content: center;
                align-items: center;

                video {
                    @include ordinateur {
                        width: 200%;
                    }
                }

                @include ordinateur {
                    width: 50%;
                }
            }
    
            .informations {
                flex: 1 0 30%;
                display: flex;
                flex-direction: column;
                gap: 5%;
                padding: 5%;
                backdrop-filter: blur(15px);
                background-color: map-deep-get($couleurs, "domaines-transparents", "jeu" );

                .social {
                    display: flex;
                    gap: 5%;
                }

                @include ordinateur {
                    padding: 2.5%;
                }
            }
        }

        .carte {
            flex: 1 1 40%;
            padding-bottom: 10%;

            @include ordinateur {
                margin-top: 2.5%;
            }

            .wp-block-webfactory-map {
                &, & * {
                    max-height: 60vh;
                    
                }
            }
        }
    }
}

