@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/fonctions.scss';

.Contact {
background-repeat: no-repeat;
background-position: 100% 0.1%;
background-size: 360%;

}

