@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/fonctions.scss';

.Contact {
display: flex;
flex-direction: column;

background-repeat: no-repeat;
background-position: 100% 50%;
background-size: cover;

overflow-x: hidden;
width: 100%;

.contenu{
    display: flex;
    .images{
        display: none;
        flex: 1 0 60%;
        gap: 5%;

        &>*{
            background-color: beige;
            width: 80%;
            content: "";
            
            &:nth-child(2){
                grid-row: span 2;
            }
        }

        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        

        
        @include tablette{
            display: grid;
        }
    }

    .informations{
        flex: 0 1 40%;

        p{
            width: 100%;
        }
    }
}

}

