@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/fonctions.scss';

.Cours {
    @include carte;
    backdrop-filter: blur(4px);

    @include themer($theme-cours);
    // @include gerer-ouverture(flex);
    flex-direction: column;

    width: 80vw;
    min-width: 80vw;
    height: 40vh;
    margin-top: 30%;
    box-sizing: border-box;
    scroll-snap-align: start;
    scroll-margin: 10vw;

    &:first-child {
        margin-left: 10vw;
    }

    &:last-child {
        margin-right: 10vw;
    }

    @media screen and (min-width: map-get($largeurs-ecran, tablette)) {
        width: 40vw;
        min-width: 40vw;
        height: 50vh;
        margin-top: 20%;

        &.ouvert {
            transform: scale(1);
        }

        &.ferme {
            transform: scale(.75);
        }
    }
}