@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/fonctions.scss';

.Cours {
    @include carte;
    backdrop-filter: blur(4px);

    @include themer($theme-cours);
    // @include gerer-ouverture(flex);
    flex-direction: column;

    width: 80vw;
    height: 40vh;
    margin-top: 30%;
    box-sizing: border-box;
}

.ouvert {
    
}

.ferme {

}