@import '../../sass/mixins.scss';

.Enseignant {
    flex-basis: 22.5%;
    margin-bottom: 2.5%;

    &.ferme {
        // Lorsque fermé, on ne montre que la miniature en cachant le contenu
        .miniature {
            @include bulle;
            background-color: white;
    
            .titre, .domaine {
                display: none;
            }

            @include tablette {
                .titre {display: block}
            }

            @include ordinateur {
                .domaine {display: block}
            }
        }

        .contenu {
            display: none;
        }
    }

    // Si l'enseignant est ouvert, il doit être visible en tout temps
    &.ouvert {
        visibility: visible;

        .contenu {
            display: flex;
        }

        .miniature {
            display: none;
        }
    }
}