@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';
@import '../../sass/animations.scss';

@mixin carte-enseignant() {
    @include carte;
    @include pleine-taille;
    aspect-ratio: 1 / 1.75;
    padding: 0;

    position: relative;
    overflow: hidden;

    .titre {
        max-width: 40%;
        position: static;
        margin-left: 5%;
    }

    .conteneur-domaine {
        // Positionnement dans .Enseignant
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
        height: 100%;

        background-color: map-get($couleurs, sombre);

        .domaine {
            position: relative;
            top: 10%;
            margin-block-start: 0;
            margin-block-end: 0;
            z-index: 1;
            transform: rotate(90deg);
        }
    }

    .photo {
        object-fit: cover;
        height: 70%;
        position: absolute;
        bottom: 0;
        z-index: 2;
    }
}

/*
    Les enseignants ont deux états, ouvert et fermé
    Qu'un seul enseignant ne peut être ouvert à la fois.
    Lorsqu'un enseignant est ouvert, tous les autres sont cachés.
    Sinon, ils sont tous fermés et tous affichés en même temps
*/

.Enseignant {
    @include themer($theme-enseignant);

    $classes-couleur-domaine: (
        conteneur-photo: background-color,
        miniature: background-color,
        texte: background-color
    );

    $classes-couleur-domaine-ferme: (
        domaine: color
    );

    $classes-couleur-domaine-contraste-texte: (
        etiquette-titre: color,
        titre: color,
        etiquette-domaine: color,
        domaine: color,
        etiquette-description: color,
        description: color
    );

    $couleurs-domaines-modifiees: (
        modelisation3d: map-get($couleurs, sombre)
    );

    @include couleurs-domaines($classes-couleur-domaine);
    @include couleurs-domaines(
        $classes-couleur-domaine-contraste-texte,
        $couleurs-domaines-modifiees
    );

    @include ordinateur {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 10%;

        .miniature {
            @include carte-enseignant();
        }
    }

    // Lorsque fermé, on ne montre que la miniature en cachant le contenu
    &.ferme {
        @include couleurs-domaines($classes-couleur-domaine-ferme);

        .miniature {
            overflow: hidden;
            @include bulle;
    
            .titre {
                display: none;
                position: absolute;
                left: 5%;
                top: 10%;
            }

            .photo {object-fit: cover;}

            .conteneur-domaine {display: none}

            @include ordinateur {
                .titre {display: block}

                .conteneur-domaine {display: block}
                .photo {position: relative}
            }

            @include ordinateur {
                @include carte-enseignant;
                height: 60%;
                width: auto;
            }
        }

        .contenu {display: none;}

        @include ordinateur {aspect-ratio: 1 / 1.75;}
    }

    &.ouvert {
        @include pleine-taille;
        visibility: visible;
        display: flex;
        justify-content: center;
        position: relative;

        @include selection-texte {color: map-get($couleurs, clair);}

        // Lorsque ouvert, on montre le contenu en cachant la miniature
        .contenu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            height: 100%;
            overflow: hidden;

            .retour-liste {align-self: flex-start}

            // Photo de l'enseignant (mobile et tablette)
            .conteneur-photo {
                @include bulle;
                padding: 30px;

                .fond-photo {
                    background-color: map-get($couleurs, clair);
                    border-radius: 50%;
                    @include pleine-taille;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    overflow-x: clip; // fonctionne sur Firefox seulement

                    // Image
                    .photo {
                        margin-top: -90%;
                        margin-left: -17.5%;
                        width: 132.5%;
                        height: 132.5%;
                        z-index: 3;
                    }
                }

                & > *:not(.fond-photo) {display: none}

                // Faire disparaitre la photo du contenu sur ordinateur puisqu'on utilise la miniature
                @include ordinateur {display: none;}
            }

            // Section de texte avec l'image de l'enseignant
            .texte {
                @include pleine-taille;
                box-sizing: border-box;
                padding: 7.5%;
                border-radius: 30px 30px 0 0;

                display: flex;
                flex-direction: column;

                .conteneur-description {
                    height: 100%;
                    padding: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: map-get($couleurs, clair);
                    border-radius: 30px;

                    .description {color: map-get($couleurs, sombre)}

                    @include tablette {
                        background-color: transparent;
                        .description {color: map-get($couleurs, clair);}
                        height: unset;
                        padding: 0;
                    }
                }

                @include tablette {
                    // Tous les éléments qui ne sont pas des étiquettes
                    *:not([class^="etiquette-"]) {
                        margin-left: 5%;
                    }

                    // Annuler le style donné par @couleurs-domaines à partir de tablettes
                    & > * {color: map-get($couleurs, clair)}

                    height: unset;
                }
            }

            @include tablette {
                width: 90%;
                height: 90%;
                flex-direction: row;
                align-items: flex-start;

                .retour-liste {
                    position: absolute;
                }

                .texte {
                    border-radius: 0;
                    @include bordures-coins-diagonales(60px, map-get($couleurs, clair));
                }
            }

            // Ajuster le texte de l'enseignant ouvert
            @include ordinateur {
                display: flex;
                flex: 0 2 60%;
                height: 100%;

                .retour-liste {
                    position: absolute;
                    left: -10%;
                }
            }
        }

        .miniature {
            display: none;

            // Ajuste la miniature de l'enseignant ouvert (sur ordinateur, un enseignant ouvert affiche sa miniature et son contenu)
            @include ordinateur {
                display: flex;
                flex: 2 0 40%;
            }
        }

        // Ajuster le conteneur de l'enseignant ouvert sur ordinateur
        @include ordinateur {
            width: 80vw;
            height: 70vh;
            flex-shrink: 0;

            @include couleurs-domaines($classes-couleur-domaine-ferme);
        }

        @include ordinateur-large {width: 60vw}
    }
}