@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';
@import '../../sass/animations.scss';

/*
    Les enseignants ont deux états, ouvert et fermé
    Qu'un seul enseignant ne peut être ouvert à la fois.
    Lorsqu'un enseignant est ouvert, tous les autres sont cachés.
    Sinon, ils sont tous fermés et tous affichés en même temps
*/

/*
    Gestion des couleurs spécifiques à un certain domaine
*/
$classes-couleur-domaine: (
    conteneur-photo: background-color,
    miniature: background-color,
    texte: background-color
);

$classes-couleur-domaine-ferme: (
    domaine: color
);

$classes-couleur-domaine-contraste-texte: (
    etiquette-titre: color,
    titre: color,
    etiquette-domaine: color,
    domaine: color,
    etiquette-description: color,
    description: color
);

$couleurs-domaines-modifiees: (
    modelisation3d: map-get($couleurs, sombre)
);

.Enseignant {
    @include themer($theme-enseignant);

    @include couleurs-domaines($classes-couleur-domaine);
    @include couleurs-domaines(
        $classes-couleur-domaine-contraste-texte,
        $couleurs-domaines-modifiees
    );

    @include couleurs-domaines($classes-couleur-domaine-ferme);

    

    &:hover{
        size: 10%;
        transition: all 0.9s 0s ease;
    }



    // ===== FERMÉ =====


    &[ouvert="false"] {
        .miniature {
            @include bulle;
            
            
            .titre {
                display: none;
                position: absolute;
                left: 5%;
                top: 10%;
            }
    
            .photo {
                object-fit: cover;
                width: 100%;
            }
        }
    
        // Cacher le contenu lorsqu'un enseignant est fermé
        .contenu {display: none;}

       
    }

    


    // ===== OUVERT =====


    &[ouvert="true"] {
        display: flex;
        justify-content: center;
        position: relative;
        // Permettre de rendre la liste invisible tout en gardant l'enseignant ouvert visible
        visibility: visible;
        height: 100%;

        // Lorsque ouvert, on montre le contenu en cachant la miniature
        .contenu {
            display: flex;
            flex-direction: column;
            gap: 5%;

            .retour {
                position: absolute;
                left: -5%;
            }

            // Photo de l'enseignant (mobile et tablette)
            .conteneur-photo {
                height: 30%;
                flex: 0 0 30%;
                @include bulle;
                padding: 15px;

                margin-left: 5vw;
                margin-right: 5vw;

                .fond-photo {
                    aspect-ratio: 1;
                    background-color: map-get($couleurs, clair);
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    overflow-x: clip; // fonctionne sur Firefox seulement

                    // Image
                    .photo {
                        width: 100%;
                        z-index: 3;
                        object-fit: cover;
                    }
                }

                @include tablette {
                    height: unset;
                }

                // & > *:not(.fond-photo) {display: none}

                // Faire disparaitre la photo du contenu sur ordinateur puisqu'on utilise la miniature
                @include ordinateur {display: none;}
            }

            // Section de texte avec l'image de l'enseignant
            .texte {
                flex: 0 0 61%;
                box-sizing: border-box;
                padding: 5%;
                border-radius: 30px 30px 0 0;

                display: flex;
                flex-direction: column;

                .domaine{
                    display: flex;
                    border: groove 10px blue;
                    padding: 5px 6px 5px 9px ;
                    border-radius: 30px;
                    //background-color: rgb(45, 45, 45);
                    width: min-content;
                }


                .conteneur-description {
                    flex-grow: 1;
                    padding: 7.5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: map-get($couleurs, clair);
                    border-radius: 30px;

                    .description {
                        color: map-get($couleurs, sombre);
                        max-height: 30vh;
                        overflow-y: auto;
                    }

                  
                    @include tablette {
                        background-color: transparent;
                        .description {color: map-get($couleurs, clair);}
                        padding: 0;
                    }

                    @include ordinateur {
                        flex-grow: unset;
                        height: 30%;
                        flex: 1 0 80%;
                    }
                }

                [class^="etiquette-"]{
                    display: none;
                }

                @include tablette {
                    // Tous les éléments qui ne sont pas des étiquettes
                    *:not([class^="etiquette-"]) {margin-left: 2.5%;}

                    // Annuler le style donné par @couleurs-domaines à partir de tablettes
                    & > * {color: map-get($couleurs, clair)}

                    height: unset;

                    [class^="etiquette-"]{
                        display: block;
                    }
                }

                @include ordinateur {flex: 1 0 100%;}
            }

            @include tablette {
                flex-direction: row;
                align-items: flex-start; // Positionner en-haut de la page
                padding-top: 2.5%; // Sinon la tête des profs dépasse

                .texte {
                    border-radius: 0;
                    @include bordures-coins-diagonales(60px, map-get($couleurs, clair));
                }
            }

            // Ajuster le texte de l'enseignant ouvert
            @include ordinateur {
                // Centrer par rapport à tablette
                align-items: center;
                justify-content: center;

                flex: 1 0 60%;
                height: 60vh;
                padding: unset;
            }

            .texte {
                @include pleine-taille;

                display: flex;
                flex-direction: column;
                gap: 10px;
                box-sizing: border-box;
                padding-left: 7.5vw;
                padding-right: 7.5vw;
                border-radius: 20px 20px 0 0;

                .desc {
                    background-color: map-get($couleurs, clair);
                    height: 100%;
                    color: black;
                    border-radius: 20px 20px 0 0;
                    padding: 5vw;
                }
            }
        }

        .miniature {
            display: none;

            // Ajuste la miniature de l'enseignant ouvert (sur ordinateur, un enseignant ouvert affiche sa miniature et son contenu)
            @include ordinateur {
                display: flex;
                flex: 0 1 40%;
            }

        
        }

        // & ~ .Enseignant[ouvert="false"] {
        //     display: none !important;
        // }

        @mixin redimensionner-enseignants() {
            flex: 1 20%;
            transform: scale(0.5);
        }

        @include ordinateur {
            @include couleurs-domaines($classes-couleur-domaine-ferme);
            flex: 0 1 80%;

            // Sélectionner l'enseignant juste après l'enseignant ouvert
            

            & + .Enseignant {
                @include redimensionner-enseignants;

                @include ordinateur-large {
                    & + .Enseignant {
                        @include redimensionner-enseignants;
                    }
                }
            }
        }

        @include ordinateur-large {flex: 0 1 60%;}
    }

    // Général, peu importe l'état. N'override pas les règles de priorité
    & {
        flex: 1 0 20%;
    }

    // Général, peu importe l'état. Override les règles de priorité
    &[ouvert="true"],
    &[ouvert="false"] {
        transition: left ease-in-out .08s;
        flex-direction: row-reverse; // Afficher le contenu à gauche
        gap: 10%;

        .miniature {
            overflow: hidden;
            & > *:not(.photo) {display: none;}
    
            // Positionnement d'une carte
            @include ordinateur {
                @include carte;
                aspect-ratio: 1 / 1.5;
                padding: 0;

                position: relative;
                overflow: hidden;

                .titre {
                    max-width: 70%;
                    position: static;
                    margin-left: 5%;
                }

                .conteneur-domaine {
                    // Positionnement dans une carte
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 20%;
                    height: 100%;

                    background-color: map-get($couleurs, sombre);

                    .domaine {
                        position: relative;
                        top: 10%;
                        margin-block-start: 0;
                        margin-block-end: 0;
                        z-index: 1;
                        transform: rotate(90deg);
                    }
                }

                .photo {
                    object-fit: cover;
                    width: 100%;
                    height: 70%;
                    position: absolute;
                    bottom: 0;
                    z-index: 2;
                }
                
                .titre {display: block}
                .conteneur-domaine {display: block}
            }
        }

        .contenu {
            align-items: center;
            @include tablette {align-items: flex-start;}
            .conteneur-photo {
                @include tablette {margin: unset;}

                .conteneur-domaine,
                .titre {
                    display: none;
                    @include ordinateur {display: block;}
                }
            }
        }

        @include ordinateur-large {
            gap: 5%;
        }
    }
}