@import '../../sass/mixins.scss';

.ListeEnseignants {
    @include page(true);
    flex-direction: column;
    $taille-gouttieres: 10vw;
    position: relative;
    box-sizing: border-box;
    overflow-y: scroll;

    & > .titre {
        @include gerer-ouverture(block);
        padding-left: $taille-gouttieres;
    }

    @include ordinateur {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .liste {
        padding-left: $taille-gouttieres;
        padding-right: $taille-gouttieres;
        display: grid;
        box-sizing: border-box;

        @include cacher-barre-defilement;

        // Deux colonnes
        grid-template-columns: repeat(2, 1fr);
        gap: $taille-gouttieres;

        @include tablette {
            grid-template-columns: repeat(3, 1fr);
        }

        @include ordinateur {
            display: flex;
            overflow: auto;
            height: 50vh;
        }

        // Quand la liste est ouverte, on montre tout
        &.ouvert {
            visibility: visible;

            & ~ .Suivant {
                display: none;
            }
        }

        // Quand elle est fermée (donc, qu'un enseignant a été ouvert)...
        &.ferme {
            display: flex;
            visibility: hidden;
            padding: 0;

            @include ordinateur {
                visibility: visible;
                padding-left: $taille-gouttieres;
                padding-right: $taille-gouttieres;
                overflow-x: hidden;
                gap: 5%;
            }

            // On cache tous les autres enseignants (qui sont donc fermés à ce moment)
            .Enseignant.ferme {
                display: none;

                @include ordinateur {display: flex;}
            }
        }
    }

    .Suivant {
        display: none;
        right: 2.5%;
        bottom: 17.5%;

        @include ordinateur {
            display: flex;
        }
    }
}