@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.ListeProjets {
    height: unset;
    overflow-y: scroll;
    @include cacher-barre-defilement;

    .titre {
        @include gerer-ouverture(block)
    }

    .liste {
        @include pleine-taille;
        box-sizing: border-box;
        margin-bottom: 10%;

        &.ouvert {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 15vh;
            grid-auto-flow: row dense; // Permettre aux éléments de prendre de la place quand il y en a
            gap: 5% 10%;
            padding-left: 10%;
            padding-right: 10%;

            li {
                background-color: lightblue;
                position: relative;
                display: flex;
                border-radius: 20px;
                overflow: hidden;

                // Tous les éléments prennent une colonne de largeur
                grid-column: span 1;

                &.photo-environnement {
                    // Les photos d'environnement ne prennent qu'une seule rangée de hauteur
                    grid-row: span 1;
                }

                .miniature {
                    @include pleine-taille;
                    .image-presentation {
                        @include pleine-taille;
                    }
                }
            }
        }

        &.ferme {
            display: block;
            margin-top: map-get($hauteur-header, mobile);
            height: calc(100vh - map-get($hauteur-header, mobile));

            li:not(.ouvert) {
                display: none;
            }
        }
    }
}