@import '../../sass/mixins.scss';
@import '../../sass/animations.scss';
@import '../../sass/fonctions.scss';
@import '../../sass/variables.scss';

.ListeSessions {
    @include fondu(.5s, "destination");
    height: 100%;
    box-sizing: border-box;

    // position: relative;

    @include ordinateur {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .sessions-titres {
        z-index: 2;
        display: none;
        position: relative;
        flex: 2;
        flex-direction: column;
        white-space: nowrap;
        padding: 0 5%;

        @include ordinateur {display: flex;}
    }
}