@import '../../sass/mixins.scss';

.ListeEnseignants {
    $taille-gouttieres: 10%;

    overflow-y: scroll;
    box-sizing: border-box;

    .titre {
        @include gerer-ouverture(block);
    }

    @include ordinateur {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .liste {
        padding-left: $taille-gouttieres;
        padding-right: $taille-gouttieres;
        display: grid;

        // Deux colonnes
        grid-template-columns: repeat(2, 1fr);
        // Ne trouve pas la hauteur automatiquement. Cette formule la trouve
        grid-auto-rows: calc(100vw / 2 - $taille-gouttieres);
        gap: $taille-gouttieres;
        height: 100%;

        @include tablette {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: calc(100vw / 3 - $taille-gouttieres);
        }

        @include ordinateur {
            display: flex;
            overflow: auto;
            height: 50vh;
        }

        // Quand la liste est ouverte, on montre tout
        &.ouvert {
            visibility: visible;
        }

        // Quand elle est fermée (donc, qu'un enseignant a été ouvert)...
        &.ferme {
            display: flex;
            visibility: hidden;
            margin-top: map-get($hauteur-header, mobile);
            height: calc(100vh - map-get($hauteur-header, mobile));
            padding: 0;

            @include tablette {
                margin-top: 5vh;
            }

            // On cache tous les autres enseignants (qui sont donc fermés à ce moment)
            .Enseignant.ferme {
                display: none;
            }
        }
    }
}