@import '../../sass/mixins.scss';
@import '../../sass/animations.scss';
@import '../../sass/fonctions.scss';
@import '../../sass/variables.scss';

.ListeSessions {
    background-color: transparent;
    @include fondu(.5s, "destination");
    height: 100%;
    box-sizing: border-box;

    @include ordinateur {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .liste {
        display: flex;
        position: relative;
    }

    // Reculer
    transform: translateZ(-1px);
    transform-style: preserve-3d;

    .sessions-titres-conteneur {
        position: absolute;
        width: 25%;
        height: 90%;
        @include ordinateur {display: flex;}
        display: none;
        padding: 0 5%;
        background: linear-gradient(90deg, map-get($couleurs, sombre) 35%, transparent 100%);

        // Avancer par-dessus la session
        transform: translateZ(1px);
        transform-style: preserve-3d;

        .sessions-titres {
            @include pleine-taille;
            display: flex;
            @include padding-auto;
            flex-direction: column;
            position: absolute;

            // Avancer par-dessus le rond
            transform: translateZ(1px);
            transform-style: preserve-3d;

            .session-titre {
                &[ouvert="true"] {
                    display: none;
                }
            }
        }
    }
}