@import '../../sass/mixins.scss';

.Projet {
    //  Les projets prennent deux rangées de hauteur
    grid-row: span 2;

    &.ferme {
        .miniature {
            height: 30vh;
            .information {
                position: absolute;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }

        .contenu {
            display: none;
        }
    }

    &.ouvert {
        .miniature {
            display: none;
        }

        .contenu {
            display: flex;
        }
    }
}