@import '../../sass/mixins.scss';
@import '../../sass/animations.scss';

.Projet {
    &[ouvert="false"] {
        //  Les projets prennent deux rangées de hauteur
        grid-row: span 2;

        @include tablette {
            grid-column: span 2;
            grid-row: span 1;
        }

        .contenu {
            display: none;
            backdrop-filter: blur(0px);
        }
    }

    &[ouvert="true"] {
        animation: fondu-entrant .5s ease-in-out;
        @include pleine-taille;

        .miniature {
            display: none;
        }

        .contenu {
            display: flex;
            backdrop-filter: blur(15px);
        }
    }

    .details{
        text-align: center;
    }

    .contenu {
        align-items: center;
        transition: unset;
        position: fixed;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        top: 0;
        left: 0;
        padding: 10vh 10vw;
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
        background-color: map-get($couleurs, sombre-transparent);

        .image-presentation {
            width: min-content;
            object-fit: contain;
            max-width: 100%;

            @include ordinateur {
                max-height: 70%;
            }
        }

        .FlecheNav {
            align-self: flex-start;
            flex: 0 0 0;
            position: relative;

            @include tablette {
                left: -5%;
                top: 10%;
            }
        }
    }
}