@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.SessionRond {
    aspect-ratio: 1;
    background-color: map-get($couleurs, clair);

    transition: transform .5s;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;

    @include tablette {width: 350px;}

    .titre {
        position: absolute;
        right: 15%;
        top: -10%;
        font-size: 1500%;
        @include desactiver-margin-block;
    }

    .Icone {
        position: absolute;
        right: 15%;
        top: 50%;
    }

    .FlecheNav {
        position: absolute;
        right: -30px;
        @include ordinateur {display: none}
    }
}