@import '../../sass/mixins.scss';

.SessionRonds {
    flex: 0;

    position: absolute;
    left: 0; 
    top: 0;

    transform: translateZ(1px);

    // Sinon on ne peut pas scroll
    @include ordinateur {
        width: unset;
        height: unset;
    }

    $decalage-mobile: 575px;
    $decalage-tablette: 750px;

    .carousel {
        transform-style: preserve-3d;
        position: absolute; 
        transition: transform .5s;
        left: -$decalage-mobile;
        top: 70vh;

        @include tablette {
            top: 65vh;
            left: -$decalage-tablette;
        }

        @include ordinateur {
            left: -1625px;
            top: -350px;
        }
    }

    & > .FlecheNav {
        left: 275px;
        top: 80vh;

        @include ordinateur {
            display: none;
        }
    }
}