@import '../../sass/mixins.scss';

.SessionRonds{
    // overflow: hidden;
    flex: 0;

    transform: translateZ(1px);

    .carousel {
        transform-style: preserve-3d;
        transform-origin: center;
        position: absolute; 
        transition: transform .5s;
    }
}