@import '../../sass//mixins.scss';

.Session {
    @include pleine-taille;

    @include gerer-ouverture(flex);

    .liste-cours {
        width: 100vw;
        @include pleine-taille;
        display: flex;
        gap: 10vw;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        @include cacher-barre-defilement;
    }

    .prochain-cours {
        position: fixed;
        top: 50vh;
        right: 5vw;
    }
}