@import './mixins.scss';
@import './variables.scss';

html {
    font-family: 'Lalezar', cursive;
    @include texte-dynamique($tailles-textes);
}

h6 { 
    font-weight: bold;

    a {
        font-weight: bold;
    }
}