@import './mixins.scss';
@import './variables.scss';

html {
    font-family: 'Lalezar', cursive;
    @include texte-dynamique($tailles-textes);
}

h1, h2, h3, h4, h5 {
    font-family: map-get($polices, titre);
    color: #F3F3EA;
}

h6, p {
    font-family: map-get($polices, texte);
    letter-spacing: 0;
}