@import './variables.scss';
@import './fonctions.scss';

$liste-items-liste-non-ouvrables: '.Cours, .EnTete, .Navigation, .Recherche';

// Styles généraux sur tous les éléments
* {
    &::-webkit-scrollbar {
        display:none;
    }
    margin-block-start: 0;
    margin-block-end: 0;
    scrollbar-color: map-deep-get($couleurs, 'domaines', 'web') map-get($couleurs, sombre);
    scroll-behavior: smooth;

    &::-webkit-scrollbar-track {
        background: map-get($couleurs, sombre);
    }

    // Listes d'items fermées
    &[class^="list"] {
        // Items possiblement ouvrables (fermés)
        @include selection-enfant-et-soi('[ouvert="false"]:not(#{$liste-items-liste-non-ouvrables})') {
            .miniature {
                cursor: pointer;
            }
        }

        &[item-ouvert="false"] {
            // Animer le passage de retour vers la page initiale
            animation: fondu-entrant ease-in-out .5s;
        }

        &[item-ouvert="true"] {
            // Cacher tous les dégradés vers l'item suivant quand il y a un item ouvert dans la liste
            & ~ .DegradeCarousel {
                display: none;
            }
        }
    }
}

.domaine {
    white-space: nowrap;
}

// Styles de correction d'éléments particuliers
ul, ol {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    text-align: left;
    word-spacing: 3px;

}

input {
    border: none;
    background-color: transparent;
}

button {
    border: none;
}

// Couleurs globales
::selection {
    background-color: map-deep-get($couleurs, 'domaines', 'video');
}

.behance {
    &, & * {
        fill: map-get($couleurs, clair);
    }
}

.linkedin {
    &, & * {
        fill: map-deep-get($couleurs, 'domaines', 'web');
    }
}

.youtube {
    &, & * {
        fill: map-deep-get($couleurs, 'domaines', 'video');
    }
}

.facebook {
    &, & * {
        fill: map-deep-get($couleurs, 'domaines', 'jeu');
    }
}