@import './variables.scss';
@import './fonctions.scss';

// Normalization des variables
ul, ol {
    padding: 0;
    list-style-type: none;
}

* {
    margin-block-start: 0;
    margin-block-end: 0;
    scrollbar-color: map-deep-get($couleurs, 'domaines', 'web') map-get($couleurs, sombre);

    &::-webkit-scrollbar {
        width: 1px;
    }

    &::-webkit-scrollbar-track {
        background: map-get($couleurs, sombre);
    }
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

input {
    border: none;
    background-color: transparent;
}

button {
    border: none;
}

// Couleurs globales
::selection {
    background-color: map-deep-get($couleurs, 'domaines', 'video');
}
