@import './fonctions.scss';
 
// ===== MIXINS GÉNÉRALES =====
// Transforme une map de textes et génère des media queries
@mixin texte-dynamique($selecteurs) {
    @each $selecteur, $tailles-dynamiques in $selecteurs {
        @each $taille-ecran, $taille-texte in $tailles-dynamiques {
            @if $taille-ecran == null {
                font-size: $taille-texte;
            }
    
            @else {
                @media screen and (min-width: $taille-ecran) {
                    #{$selecteur} {
                        font-size: $taille-texte;
                        margin-block-start: $taille-texte / 2;
                        margin-block-start: $taille-texte / 2;
                    }
                }
            }
        }
    }
}

// Stylise plusieurs classe/balises prédéterminés d'après une map de thème
@mixin themer($theme) {
    // Styles de texte
    .titre {
        @include texte-general($theme, "titre");
    }

    .sous-titre {
        @include texte-general($theme, "sous-titre");
    }

    .Icone {
        color: map-deep-get($theme, "icone", "couleur");
    }

    p {
        @include texte-general($theme, "texte");
    }

    a {
        @include texte-general($theme, "lien");

        &:hover {
            @include texte-general($theme, "lien-hover");
        }
    }

    // Boites
    background-color: map-deep-get($theme, "fond", "couleur-primaire");
}

// Remlpit automatiquement les informations génériques pour tout type de texte
// Fonctionne avec themer()
@mixin texte-general($theme, $element) {
    color: map-deep-get($theme, $element, "couleur");
    font-weight: map-deep-get($theme, $element, "poids");
    font-style: map-deep-get($theme, $element, "style");
}

// Gère l'ouverture de différentes boites d'après des classes
// Insérer dans la boite à ouvrir/fermer
@mixin gerer-ouverture($valeur-quand-ouvert) {
    &.ouvert {
        display: $valeur-quand-ouvert;
    }

    &.ferme {
        display: none;
    }
}

@mixin pleine-taille() {
    width: 100%;
    height: 100%;
}

@mixin cacher-barre-defilement() {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

// ===== MIXINS DE SECTIONS =====
@mixin bulle() {
    aspect-ratio: 1;
    border-radius: 50% 50% 10px 50%;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }

    *:not(img) {
        position: absolute;
        right: 0;
        bottom: 0;

        text-align: right;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

@mixin carte() {
    @media screen and (min-width: map-get($largeurs-ecran, mobile)) {
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;

        border-radius: 20px;
    }
}