$largeurs-ecran: (
    base: 0px,
    mobile: 360px,
    tablette: 640px,
    ordinateur: 1024px,
    ordinateur-large: 1440px
);

/*
    Tailles de police
    taille d'écran (en min-width) : taille de texte
*/
$h1: (
    0px: 32px,
    360px: 48px,
    640px: 56px,
    1024px: 72px,
    1440px: 96px
);

$h2: (
    0px: 32px,
    360px: 48px,
    640px: 56px,
    1024px: 72px,
    1440px: 96px
);

$h3: (
    0px: 32px,
    360px: 48px,
    640px: 56px,
    1024px: 72px,
    1440px: 96px
);

$h6: (
    0px: 20px,
    360px: 24px,
    640px: 32px,
    1024px: 42px,
    1440px: 96px
);

// Thème de base. Si rien n'est appliqué, le thème de base sera présent
$theme-base: (
    titre: (
        couleur: rgb(226, 0, 0),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: rgb(255, 208, 0),
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: #fff,
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: rgb(125, 0, 197),
    ),

    lien: (
        couleur: rgb(125, 0, 197),
        poids: 300,
        style: normal
    ),

    lien-hover: (
        couleur: rgb(162, 0, 255),
        poids: 300,
        style: normal
    ),

    fond: (
        couleur-primaire:  rgb(29, 29, 29),
        couleur-secondaire: red
    )
);

$theme-menu: (
    titre: (
        couleur: #000,
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: #000,
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: #000,
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: #fff,
    ),

    lien: (
        couleur: rgb(0, 0, 0),
        poids: 900,
        style: normal
    ),

    lien-hover: (
        couleur: rgb(0, 0, 0),
        poids: 900,
        style: normal
    ),
    
    fond: (
        couleur-primaire:  rgba(255, 255, 255, 0.63),
        couleur-secondaire: rgb(0, 0, 0)
    )
);

$theme-cours: (
    titre: (
        couleur: #000,
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: #fff,
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: #fff,
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: #fff,
    ),

    lien: (
        couleur: #fff,
        poids: 900,
        style: normal
    ),

    lien-hover: (
        couleur: #fff,
        poids: 900,
        style: normal
    ),
    
    fond: (
        couleur-primaire:  rgba(0, 0, 0, 0.459),
        couleur-secondaire: rgb(0, 0, 0)
    )
);
