// -
// Définition de la taille des écrans pour un site web réactif. 
// -

$largeurs-ecran: (
    base: 0px,
    mobile: 360px,
    tablette: 640px,
    ordinateur: 1024px,
    ordinateur-large: 1440px
);

$polices: (
    titre: 'Lalezar',
    texte: 'Mukta',
    
    styles: (
        'Fredoka One',
        'Modak',
        'Montserrat',
        'Rammetto One',
        'Stalinist One',
        'Taviraj',
        'Titan One'
    )
);

/*
    Tailles de police et leur style
    taille d'écran (en min-width) : taille de texte
*/

$decalage-pages: (
    mobile: 100px,
    tablette: 80px,
    ordinateur: 120px
);

/*
    Tailles de police
    On peut ajouter d'autres propriétés pour chaque taille d'écran/sélecteur
    Il suffit de les intégrer dans mixins.scss par la suite
*/
$tailles-textes: (
    // Nom d'une page et chiffre dans la page de cours
    h1: (
        0px: (
            taille: 40px,
            hauteur-ligne: 12px
        ),

        360px:(
            taille: 50px,
            hauteur-ligne: 12px
        ),

        640px:(
            taille: 65px,
            hauteur-ligne: 12px
        ),

        1024px:(
            taille: 60px,
            hauteur-ligne: 12px
        ),

        1440px:(
            taille: 65px,
            hauteur-ligne: 12px
        ),

    ),

    // Nom d'un article
    h2: (
        0px:(
            taille: 25px,
            hauteur-ligne: 12px
        ),

        360px:(
            taille: 35px,
            hauteur-ligne: 12px
        ),

        640px:(
            taille: 45px,
            hauteur-ligne: 12px
        ),

        1024px:(
            taille: 35px,
            hauteur-ligne: 12px
        ),

        1440px:(
            taille: 37.5px,
            hauteur-ligne: 12px
        ),
    ),

    
    // Sous-titre d'une section d'un élément en contexte
    h3: (
        0px:(
            taille: 20px,
            hauteur-ligne: 12px
        ),

        360px:(
            taille: 30px,
            hauteur-ligne: 12px
        ),

        640px:(
            taille: 35px,
            hauteur-ligne: 12px
        ),

        1024px:(
            taille: 30px,
            hauteur-ligne: 12px
        ),

        1440px:(
            taille: 32.5px,
            hauteur-ligne: 12px
        ),
    ),
    // Titre des cours dans la page cours
    h4: (
        0px:(
            taille: 32px,
            hauteur-ligne: 12px
        ),

        360px:(
            taille: 35px,
            hauteur-ligne: 12px
        ),

        640px:(
            taille: 25px,
            hauteur-ligne: 12px
        ),

        1024px:(
            taille: 25px,
            hauteur-ligne: 12px
        ),

        1440px:(
            taille: 27.5px,
            hauteur-ligne: 12px
        ),
    ),

    /** ‘spécialité’, la spécialisation de l'enseignant et ‘biographie’ */
    h5: (
        0px:(
            taille: 15px,
            hauteur-ligne: 12px
        ),
    
        360px:(
            taille: 16px,
            hauteur-ligne: 12px
        ),
    
        640px:(
            taille: 25px,
            hauteur-ligne: 12px
        ),
    
        1024px:(
            taille: 20px,
            hauteur-ligne: 12px
        ),
    
        1440px:(
            taille: 22.5px,
            hauteur-ligne: 12px
        ),
    ),

    // Éléments de navigation de l'entête
    h6: (
        0px:(
            taille: 23px,
            hauteur-ligne: 12px
        ),

        360px:(
            taille: 25px,
            hauteur-ligne: 12px
        ),

        640px:(
            taille: 17px,
            hauteur-ligne: 12px
        ),

        1024px:(
            taille: 25px,
            hauteur-ligne: 12px
        ),

        1440px:(
            taille: 28px,
            hauteur-ligne: 12px
        ),
    ),


    // Texte courant
    p: (
        0px:(
            taille: 13px,
            hauteur-ligne: 12px
        ),

        360px:(
            taille: 14px,
            hauteur-ligne: 12px
        ),

        640px:(
            taille: 12px,
            hauteur-ligne: 12px
        ),

        1024px:(
            taille: 14px,
            hauteur-ligne: 12px
        ),

        1440px:(
            taille: 15px,
            hauteur-ligne: 12px
        ),
    ),

    svg: (
        0px: (
            taille: 20px
        ),
        360px: (
            taille: 30px
        ),
        640px: (
            taille: 25px
        ),
        1024px: (
            taille: 27.5px
        ),
        1440px: (
            taille: 30px
        )
    )
);
//Definition des couleurs dans le site web
$couleurs: (
    clair: #f3f3ea,
    clair-transparent: #f3f3ea3a,
    moyen: #444,
    moyen-transparent: rgba(68, 68, 68, 0.406),
    sombre: #0f0f0f,
    sombre-transparent: #0f0f0f6c,

    domaines: (
        design: #da3e66,
        jeu: #2c2c7f,
        modelisation3d: #fed900,
        video: #da6f67,
        web: #4a52a3,
    ),

    domaines-transparents: (
        design: #da3e6576,
        jeu: #2c2c7f7b,
        modelisation3d: #fed80076,
        video: #da6f6784,
        web: #4a51a379,
    ),

    gris1: #a7a6a6,
    gris2: #747474,
    gris3: #414141,
);

// Thème de base. Si rien n'est appliqué, le thème de base sera présent
$theme-base: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: map-get($couleurs, clair),
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    fond: (
        couleur-primaire: map-get($couleurs, sombre),
        couleur-secondaire: map-get($couleurs, sombre),
    ),
);

// Entête et autres menus flottants pour mobile
$theme-menu-mobile: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (),

    texte: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),
    
    fond: (
        couleur-primaire: map-get($couleurs, moyen-transparent),
        couleur-secondaire: map-get($couleurs, sombre)
    )
);

// Entête et autres menus flottants pour mobile
$theme-resultats-recherche: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (),

    texte: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),
    
    fond: (
        couleur-primaire: map-get($couleurs, sombre-transparent),
        couleur-secondaire: map-get($couleurs, sombre)
    )
);

//Style general pour la version tablette
$theme-menu-tablette: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (),

    texte: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),
    
    fond: (
        couleur-primaire: map-get($couleurs, sombre-transparent)
    )
);

// Style pour les elements dans la section/menu de la selection des session dans la page cours
$theme-liste-session: (
    titre: (
        couleur: map-get($couleurs, sombre),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    texte: (),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (),

    lien-hover: (),

    fond: ()
);

// Styles pour les elements dans la page des cours
$theme-cours: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: map-get($couleurs, clair),
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    fond: (
        couleur-primaire: map-get($couleurs, clair-transparent)
    )
);

// Style pour les elements dans la page des enseignants
$theme-enseignant: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: map-get($couleurs, clair),
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: map-get($couleurs, sombre),
        poids: 300,
        style: normal
    ),

    icone: (),

    lien: (),

    lien-hover: (),

    fond: ()
);

//Style et grosseur du pied des élements dans le pied de page
$theme-pied-page: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: map-get($couleurs, clair),
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    fond: (
        couleur-primaire: transparent
    ),
);

// Thème de la boite modale.
$theme-modale: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: map-get($couleurs, clair),
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    fond: (
        couleur-primaire: map-get($couleurs, sombre-transparent)
    ),
);
