$largeurs-ecran: (
    base: 0px,
    mobile: 360px,
    tablette: 640px,
    ordinateur: 1024px,
    ordinateur-large: 1440px
);

/*
    Tailles de police
    taille d'écran (en min-width) : taille de texte
*/
$tailles-textes: (
    h1: (
        0px: 32px,
        360px: 48px,
        640px: 56px,
        1024px: 72px,
        1440px: 96px
    ),

    h2: (
        0px: 32px,
        360px: 96px,
        640px: 56px,
        1024px: 72px,
        1440px: 96px
    ),

    h3: (
        0px: 24px,
        360px: 30px,
        640px: 36px,
        1024px: 40px,
        1440px: 48px
    ),

    h6: (
        0px: 20px,
        360px: 24px,
        640px: 20px,
        1024px: 24px,
        1440px: 32px
    )
);

$couleurs: (
    clair: #f3f3ea,
    clair-transparent: #f3f3ea3a,
    sombre: #0f0f0f,
    sombre-transparent: #0f0f0f6c,

    accent1: #da3e66,
    accent2: #2c2c7f,
    accent3: #4a52a3,
    accent4: #fed900,
    accent5: #da6f67,

    gris1: #a7a6a6,
    gris2: #747474,
    gris3: #414141,
);

// Thème de base. Si rien n'est appliqué, le thème de base sera présent
$theme-base: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: map-get($couleurs, clair),
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    fond: (
        couleur-primaire: map-get($couleurs, sombre),
        couleur-secondaire: map-get($couleurs, sombre),
    )
);

// Entête et autres menus flottants
$theme-menu-mobile: (
    titre: (
        couleur: map-get($couleurs, sombre),
        poids: 900,
        style: normal
    ),

    sous-titre: (),

    texte: (),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, sombre),
        poids: 900,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, sombre),
        poids: 900,
        style: normal
    ),
    
    fond: (
        couleur-primaire: map-get($couleurs, clair-transparent),
        couleur-secondaire: map-get($couleurs, sombre)
    )
);

$theme-menu-tablette: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (),

    texte: (),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),
    
    fond: (
        couleur-primaire: map-get($couleurs, sombre)
    )
);

// Liste des sessions
$theme-liste-session: (
    titre: (
        couleur: map-get($couleurs, sombre),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    texte: (),

    icone: (
        couleur: map-get($couleurs, clair-transparent),
    ),

    lien: (),

    lien-hover: (),

    fond: ()
);

// Chaque cours
$theme-cours: (
    titre: (
        couleur: map-get($couleurs, clair),
        poids: 900,
        style: normal
    ),

    sous-titre: (
        couleur: map-get($couleurs, clair),
        poids: 700,
        style: normal
    ),

    texte: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    icone: (
        couleur: map-get($couleurs, clair),
    ),

    lien: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    lien-hover: (
        couleur: map-get($couleurs, clair),
        poids: 300,
        style: normal
    ),

    fond: (
        couleur-primaire: map-get($couleurs, clair-transparent)
    )
);
