@import '../../sass/variables.scss';

// Barre de défilement virtuelle qui permet de faire défiler une page sans devoir utiliser la barre de défilement du navigateur
.BarreDefilement {
    position: relative;

    // Barre de défilement
    .barre {
        background-color: map-get($couleurs, clair);
        width: 30vw;
        height: 2px;
        content: "";
    }

    // Indicateur de défilement
    .indicateur {
        background-color: map-get($couleurs, clair);
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: -25px;
    }
}