@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/fonctions.scss';

.BoutonCarousel {
    display: none;
    justify-content: center;
    align-items: center;

    // Pour les transitions
    transform: translateX(0);
    @include transition-base;

    @include ordinateur {
        display: flex;
        gap: 100px;
    }
}