@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.DegradeCarousel {
    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 91vw; // right: 0 ne marche pas for some reason
    width: 10%;
    height: 100vh;
    z-index: 2;

    // Pour les transitions
    transform: translateX(0);
    @include transition-base;

    background: linear-gradient(90deg, transparent 0%, map-get($couleurs, sombre) 100%);

    &[direction='precedent'] {
        left: 0;
        background: linear-gradient(-90deg, transparent 0%, map-get($couleurs, sombre) 100%);
    }

    @include ordinateur {
        display: flex;
    }

    .rond {
        @include rond(50px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: map-get($couleurs, clair);

        .FlecheNav {
            path {
                fill: map-get($couleurs, sombre);
            }
        }
    }
}