@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.PointsCarousel {
    display: flex;
    gap: 1vw;
    z-index: 2;

    .rond {
        @include transition-base($duree: .25s);
        border-radius: 50%;
        transform: scale(.5);
        background-color: map-get($couleurs, clair-transparent);

        &[ouvert="true"] {
            background-color: map-get($couleurs, clair);
        }
    }
}