@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.PointsCarousel {
    display: flex;
    gap: 1vw;

    .rond {
        @include transition-base($duree: .25s);
        @include rond(1vw);
        background-color: map-get($couleurs, clair-transparent);

        &[ouvert="true"] {
            background-color: map-get($couleurs, clair);
        }
    }
}