@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.Recherche {
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;

    .zone-saisie {
        * {
            border: none;
        }

        border-bottom: 2px solid map-get($couleurs, clair);
    }

    .icone-recherche {
        transform: scaleX(-1);
    }

    @include tablette {
        &.ouvert {
            width: 100%;
        }
        .zone-saisie {
            @include gerer-ouverture(flex);
            width: 100%;
        }
    }
}